table.principale
{
	background-color:#ff8000;
	border-style:none;
	border-width:0px;
	border-spacing:0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	width:100%;
}

tr.principale
{
	background-color:#ff8000;
	border-style:none;
	border-width:0px;
	border-spacing:0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;	
}

div.title1
{
    text-align:center;
    font-size:48px;
    border-style:solid;
    border-width:0px;
    color:#000000;
}

div.title2
{
    text-align:left;
    font-size:20px;
    font-weight:bold;
    color:#000000;
}

div.title3
{
    text-align:center;
    font-size:16px;
    border-style:none;
    border-width:1px;
}

div.title4
{
    text-align:left;
    font-size:16px;
    font-weight:bolder;
    color:#FF8000;
}

div.title-date
{
    text-align:right;
    font-size:16px;
    font-weight:bolder;
    color:#FF8000;
}

div.menu1
{
    text-align:center;
    font-size:16px;
    font-weight:bolder;
}

div.menu2
{
    text-align:center;
    font-size:16px;
}

div.news-separator
{
	text-align:center;
	color:#FF8000;
}

div.email
{
	text-align:center;
}

div.image
{
	text-align:right;
}

img.menu-img
{
    text-align:center;
    font-size:16px;
    border-color:#000000;
    border-style:solid;
    border-width:0px;    
}

div.paragraph
{
    text-indent:32px;   
}

td.page
{
    vertical-align:top;
	padding-right: 32px;
	padding-left: 32px;
	padding-bottom: 0px;
	padding-top: 0px;
	width:100%;
}

td.menu
{
    vertical-align:top;
    text-align:right;
    border-width:0px;
    border-right-style:solid;
    border-color:#000000;
    width:160px;
	padding-right: 32px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}
/*
a.menu
{
    color:#FF8000;
    font-weight:bolder;   
}
*/
a.menu
{
    color:#008000;    
}

a
{
    color:#008000;    
}

div.issue-content
{
    text-indent:32px;   
}

div.issue-title
{
    font-weight:bold;    
}
